.resume {
    padding-top: 120px;
    &__title {
        text-align: center;
        position: relative;
        @include before_circle;
        &::before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__header {
        text-align: center;
    }
    .divider {
        text-align: center;
    }
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &::before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background: $main-color;
                z-index: -1;
                top: 50%;
                transform: translateY(-50%);
                left: -7px;
            }
        }
    }
    ul {
        list-style: none;
        li {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 1px;
                height: calc(100% + 16px);
                background-color: #000;
                left: 0;
                top: -16px;
            }
        }
    }
    &__item {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 42px;
            height: 1px;
            background-color: #000;
            top: 56px;
        }
        &-head {
            padding: 35px 0 0 100px;
            position: relative;
            h4 {
                margin-bottom: 0;
            }
        }
        &-body {
            padding: 0 0 0 40px;
            margin-top: 12px;
            font-size: 12px;
            line-height: 18px;
        }
        &-icon {
            position: absolute;
            @include before_circle;
            top: 39px;
            left: 41px;
            img {
                position: absolute;
                top: 14px;
                left: 18px;
            }
        }
        &-data {
            font-size: 12px;
            line-height: 18px;
            margin-top: 4px;
        }
    }
}